<%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>

       
        <main>

            <div class="user-detail container">
                <section class="top main-content">
                     
                    <img class="profile" src="<%=posteosPerfil[0].fotoPerfil %>" alt=""> 
                    <div class="info-usuario">
                        <p>
                            <%= posteosPerfil[0].arroba %>
                        </p>
                        <a class="follow" href="">seguir</a>
                        <ul class="meta">
                            <li>100 posts</li>
                            <li>200 seguidores</li>
                            <li>300 seguidos</li>
                        </ul>
                    </div>
                </section>

                <% for( let i=0; i < posteosPerfil.length; i++ ) { %>
                    <section class="bottom">
                        <article class="post">
                            <a href="/products/detallePost/<%= posteosPerfil[i].idPosteo %>">
                                <img src="<%= posteosPerfil[i].nombreImagen %>" alt="<%=posteosPerfil[i].piePost %>">
                            </a>
                        </article>
                    </section>
                    <% } %>
            </div>
            </section>

           
        </main>

        <%- include('./partials/footer.ejs') %>