<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<!-- Aca va el codigo -->
<main>
    <!-- aca no va un for pq ya iteramos en los controladores!!!!! -->
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img src="<%= grama.fotoPerfil %>" alt="">
                    <p><a href="/users/detalleUsuario/<%= grama.arroba %>"><%= grama.arroba %></a></p>
                </div>
                <img class="photo" src="<%= grama.nombreImagen %>" alt="">
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form class="comment-form" method="get" action="/">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar!</button>
                    </form>
                    <div>
                      <!-- aca si un for que itere en los comentarios -->
                    <% for( let i = 0; i < grama.comentarios.length; i++ ) { %>
                    <article class="comment">
                            <img src="<%= grama.comentarios[i].fotoPerfil %>" alt=""> 
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario/<%= grama.comentarios[i].idUsuario %>"><%= grama.comentarios[i].idUsuario %></a>
                                <span class="text"><%=grama.comentarios[i].textoComentario %></span>
                            </section>
                        </article>
                    <% } %>
                      
                    </div>
                </section>
            </section>
        </div>
    
</main>

<%- include('./partials/footer.ejs') %> 