<%- include('./partials/head.ejs') %>

    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado.ejs') %>
    <% } else { %>
        <%- include('./partials/header.ejs') %>
    <% }  %> 


<main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img src="/images/fotosPerfil/<%= grama.usersP.fotoDePerfil %>" alt="">
                    <p>
                        <a href="/users/detalleUsuario/<%= grama.usersP.idUsuario %>">
                            <%= grama.usersP.arroba %> 
                        </a>
                    </p>
                </div>
                <img class="photo" src="/images/<%= grama.nombreImagen %>" alt="">
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form class="comment-form" method="post" action="/">
                        <input type="text" name="comment" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar!</button>
                    </form>
                    <div>
                      
                    <!-- borramos el .length pq tiraba error pero desp vemos -->
                    <% for( let i = 0; i < 4 ; i++ ) { %>
                    <article class="comment">
                            <img src="/images/fotosPerfil/<%= grama.comentariosP[i].usersC.fotoDePerfil%>" alt=""> 
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario/<%= grama.comentariosP[i].usersC.idUsuario %>"><%= grama.comentariosP[i].usersC.arroba%></a>
                                <span class="text"><%=grama.comentariosP[i].textoComentario %></span>
                            </section>
                        </article>
                    <% } %>
                      
                    </div>
                </section>
            </section>
        </div>
    
</main>

<%- include('./partials/footer.ejs') %> 