<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>


<main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img src="<%= grama.fotoPerfil %>" alt="">
                    <p>
                        <a href="/users/detalleUsuario/<%= grama.arroba %>">
                            <%= grama.arroba %> 
                        </a>
                    </p>
                </div>
                <img class="photo" src="/images/<%= grama.nombreImagen %>" alt="">
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form class="comment-form" method="post" action="/">
                        <input type="text" name="comment" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar!</button>
                    </form>
                    <div>
                      
                    <!-- borramos el .length pq tiraba error pero desp vemos -->
                    <% for( let i = 0; i < grama.comentarios; i++ ) { %>
                    <article class="comment">
                            <img src="/images/fotosPerfil/<%= grama.comentarios[i].fotoPerfil %>" alt=""> 
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario/<%= grama.comentarios[i].IdUsuario %>"><%= grama.comentarios[i].IdUsuario %></a>
                                <span class="text"><%=grama.comentarios[i].textoComentario %></span>
                            </section>
                        </article>
                    <% } %>
                      
                    </div>
                </section>
            </section>
        </div>
    
</main>

<%- include('./partials/footer.ejs') %> 