<%- include('./partials/head.ejs') %>
<<<<<<< HEAD
<% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado.ejs') %>
<% } else { %>
    <%- include('./partials/header.ejs') %>
<% }  %> 
=======

    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado.ejs') %>
    <% } else { %>
        <%- include('./partials/header.ejs') %>
    <% }  %> 22
>>>>>>> 3876534ffe5243b6ed8cb07f047430f860ebfbbb


        <main>
            
            <section class="center main-content">
                <h1>Editar perfil</h1>
                <p>Modifique sus datos!</p>
                <form class="form" method="POST" action="/users/miPerfil">
                    <div class="form-item">
                        
                        <input type="text"      name="username" placeholder="Nuevo nombre de usuario"> <br>
                        <input type="password"  name="password" placeholder="Nueva contraseña"> <br>
                        <input type="file"      name="img"      placeholder="Editar foto de Perfil"> <br>
                        <input type="date"      name="date"     placeholder="Editar fecha de nacimiento"> <br>
                        <input type="text"      name="dni"      placeholder="Editar documento"> <br>
                        <input type="text"      name="email"    placeholder="Editar email"> <br> <!--chequear luego si hay q agregar cosas del email en otros lados-->
                    </div>
                    <div class="button-panel">
                        <input type="submit" class="button" title="Sign In" value="Guardar cambios"></input>
                    </div>
            </section>
        </main>

        <%- include('./partials/footer.ejs') %>