<%- include('./partials/head.ejs') %>
    
        <main>
            
            <% if (locals.user != undefined) { %>
                <%- include('./partials/headerLogueado.ejs') %>
            <% } else { %>
                <%- include('./partials/header.ejs') %>
            <% }  %> 

            <section class="center main-content">
                <% if (locals.user!=undefined) { %>
                    <h1 class="index-title">Bienvenido <%= locals.user.email %></h1>
                  <% } %>
              
                <% for( let i=0; i < grama.length; i++ ) { %>
                    <article class="post">
                        <div class="info-usuario">
                            <img src="/images/fotosPerfil/<%= grama[i].usersP.fotoDePerfil %>" alt="">
                            <a href="/users/detalleUsuario/<%=grama[i].idUsuario%>">
                                <%= grama[i].usersP.arroba %>
                            </a>
                            <!-- NOS FALTA EL HREF -->
                        </div>
                        <div class="post-body">
                            <a href="/products/detallePost/<%= grama[i].idPosteo %>">
                                <img src="/images/<%= grama[i].nombreImagen %>">

                        </div>
                        <ul class="post-reacciones">
                            <!-- el icono de like e icono de comment -->
                            <li>
                                <i class="fa-regular fa-heart"></i>
                            </li>
                            <li>
                                <i class="fa-regular fa-comment"></i>
                            </li>           
                        </ul>
                        <div class="post-comentarios">
                            <!--arroba y pie post del usuario del post-->
                            <a href="/users/detalleUsuario/<%=grama[i].idUsuario%>">
                                <%= grama[i].usersP.arroba %>
                            </a>
                            <span>
                                <%= grama[i].piePost %>
                            </span>

                            <h4>Comentarios</h4>
                            <ul>

                                <% if (grama[i].comentariosP != 0) { %>
                                    <li>
                                        <a href="/users/detalleUsuario/<%= grama[i].comentariosP.idUsuario %>">
                                            <%=grama[i].comentariosP[0].usersC.arroba %></a>
                                        <span><%=grama[i].comentariosP[0].textoComentario%></span>
                                    </li>
                                <% } %>
                                
                                <a href="/products/detallePost/<%= grama[i].idPosteo%>">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <% } %>

            </section>
        </main>

        <%- include('./partials/footer.ejs') %>