<%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
        <!-- a traves de los tags me permite incluir el header y footer -->

        <!-- Aca va el codigo -->
        <main>
            <section class="center main-content">


                <% for( let i=0; i < grama.posteos.length; i++ ) { %>
                    <article class="post">
                        <div class="info-usuario">
                            <img src="<%= grama.usuario[i].nombreImagen %>" alt="<%=grama.posteos[i].piePost %>">
                            <a href="/users/detalleUsuario/<%= grama.posteos[i].arroba %>"></a>
                        </div>
                        <div class="post-body">
                            <a href="/products/detallePost/<%= grama.posteos[i].idPosteo %>">
                        </div>
                        <ul class="post-reacciones">
                            <li>
                                <i class="fa-regular fa-heart"></i>
                            </li>
                            <li>
                                <i class="fa-regular fa-comment"></i>
                            </li>
                                      
                        </ul>
                        <div class="post-comentarios">
                            <a href="<%=grama.posteos[i].arroba %>"></a>
                            <%= grama.posteos[i].piePost %>
                                <h4>Comentarios</h4>
                                <ul>
                                    <li>
                                        <a href="/users/detalleUsuario">
                                            <%=grama.posteos[i].arroba %>
                                        </a>
                                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi</span>
                                    </li>

                                    <a href="/products/detallePost<%= grama.posteos[i].comentarios%>">Ver más...</a>
                                </ul>
                        </div>
                    </article>


                    <% } %>




            </section>

        </main>

        <%- include('./partials/footer.ejs') %>