<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<!-- Aca va el codigo -->
<main>
    <div class="user-detail container">
        <section class="top main-content">
            <img class="profile" src="/images<%=grama.posteos%>" alt="">
            <div class="info-usuario">
                <p><%= grama.posteos %></p> 
                <a class="follow" href="/users/editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                <ul class="meta">
                    <li>100 posts</li>
                    <li>200 seguidores</li>
                    <li>300 seguidos</li>
                </ul>
            </div>
        </section>
        <% for( let i = 0; i < 8; i++ ) { %>
            <section class="bottom">
                <article class="post">
                    <% if (grama.posteos.arroba == grama.posteos[i].arroba) { %>
                        <a href="/products/detallePost/<%= grama.posteos[i].idPosteo %>">
                            <img src="<%=grama.posteos[i].nombreImagen  %>" alt="">
                        </a>
                    <% } %>

                </article>
            </section>
        <% } %>
     
    </div>
</main>

<%- include('./partials/footer.ejs') %> 