<%- include('./partials/head.ejs') %>
<% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado.ejs') %>
<% } else { %>
    <%- include('./partials/header.ejs') %>
<% }  %> 

<!-- Aca va el codigo -->
<main>
    <div class="user-detail container">
        <section class="top main-content">
            <img class="profile" src="/images/fotosPerfil/<%=grama.fotoDePerfil%>" alt="">
            <div class="info-usuario">
                <p><%= grama.arroba %></p> 
                <a class="follow" href="/users/editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                <ul class="meta">
                    <li><%=grama.posteosU.length%> posteos</li>
                    <li>200 seguidores</li>
                    <li>300 seguidos</li>
                </ul>
            </div>
        </section>
        <% for( let i = 0; i < grama.posteosU.length; i++ ) { %>
            <section class="bottom">
                <article class="post">
                        <a href="/products/detallePost/<%= grama.posteosU[i].idPosteo %>">
                            <img src="/images/<%=grama.posteosU[i].nombreImagen %>" alt="">
                            <p><%=grama.posteosU[i].piePost %></p>
                        </a>
                </article>
            </section>
        <% } %>
     
    </div>
</main>

<%- include('./partials/footer.ejs') %> 