<%- include('./partials/head.ejs') %>
<% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado.ejs') %>
<% } else { %>
    <%- include('./partials/header.ejs') %>
<% }  %> 
<!-- Aca va el codigo -->
<main>
    <section class="center main-content">
    <h1>Resultados de búsqueda.</h1>
   <% if (grama.length == 0) { %>
    <p>NO HAY RESULTADOS PARA TU BUSQUEDA</p>
   <% } else { %>
     
    <% for( let i=0; i < grama.length; i++ ) { %> 
            <article class="post">
                <div class="info-usuario">
                    <img src="/images/fotosPerfil/<%= grama[i].usersP.fotoDePerfil %>" alt="">
                    <a href="/users/detalleUsuario/<%= grama[i].usersP.arroba %>"><%= grama[i].usersP.arroba %></a>
                </div>
                <div class="post-body">
                    <a href="/products/detallePost/<%= grama[i].idPosteo %>">
                    <img src="/images/<%= grama[i].nombreImagen %>" alt="<%=grama[i].piePost %>">
                </div>
                <ul class="post-reacciones"> 
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>           
                </ul>
                <div class="post-comentarios">
                    <a href="<%=grama[i].usersP.arroba %>"><%= grama[i].piePost %></a>
                        <h4>Comentarios</h4>
                        <ul>
                            <li>
                                <a href="/users/detalleUsuario/<%= grama[i].usersP.comentariosU.idUsuario %>"><%=grama[i].usersP.arroba %></a>
                                <span><%= grama[i].piePost %></span>
                            </li>

                            <a href="/products/detallePost/<%= grama[i].idPosteo%>">Ver más...</a>
                        </ul>
                </div>
            </article>
     <% } %> 
     <% } %> 
     
    </section>
   
</main>

<%- include('./partials/footer.ejs') %> 